*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: url(/fondos/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  margin-top: 15%;
  margin-left: 356px;
  border-radius: 9px;
  height: 213px;
  width: 300px;
  background-color: #ffd3ea;
  background-image: linear-gradient(315deg, #ffd3ea 0%, #403020 74%);
  box-shadow: 0 0 10px 1px black;
  padding: 3px;
}
h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 9px;
  font-size: Arial;
  color: white;
  font-family: "Do Hyeon", sans-serif;
}
input {
  display: block;
  margin: 0 auto;
  margin-bottom: 9px;
  height: 35px;
  width: 80%;
  border-radius: 9px;
  padding-left: 30px;
  outline: none;
  border: none;
}
#user {
  background: url(/icons/persona.png) 3px 5px / 25px 25px no-repeat, white;
}
#pass {
  background: url(/icons/llave.png) 3px 5px / 25px 25px no-repeat, white;
}
button {
  margin: 2px auto;
  display: block;
  width: 80%;
  height: 35px;
  border-radius: 9px;
  outline: none;
  background-color: #6b0f1a;
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
  border: none;
  color: white;
  font-weight: bold;
}
button:active {
  background: #bbb;
}
button:hover {
  width: 82%;
  height: 40px;
  transition: width .2s, height .2s ;
}
